@import './normalize.css';

$pc1: #6B9080;
$pc2: #987284;
$pc3: #CCE3DE;
$pc4: #F9B5AC;
$pc5: #F6FFF8;
$text: #1e1e1e;

@keyframes movingGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    background: whitesmoke;
    color: $text;
}
body > div {
    padding: 32px 16px;
}
div.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > label {
        margin-right: 1rem;
    }
    & > input {
        
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    & > img {
        height: 32px;
        width: auto;
    }
}

button {
    background: $pc2;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    color: white;
    border: none;
    transition: all 0.5s ease;

    &:hover {
        background: darken($color: $pc2, $amount: 20%);
    }
}

#result {
    &:not(:empty) {
        background: white;
        border: 1px dashed $pc2;
        color: $text;
        margin-top: 1rem;
        padding: 0.25rem 1rem;
        border-radius: 8px;
        font-size: 0.8rem;
    }
    .llm {
        padding-bottom: 1em;
    }
    &.loading {
        background: linear-gradient(-45deg, #fcd6cb, #ffb3d0, #dcf6ff, #caf9ee);
        background-size: 400% 400%;
        animation: movingGradient 4s ease infinite;
    }
}

textarea {
    border-radius: 8px;
    border: 1px solid $pc4;
    padding: 0.5rem 0.5rem;
}

.copyable {
    user-select: text;
    &:hover {
        cursor: pointer;
    }
    &:active {
        font-weight: bold;
    }
}

.mainPopup {
    &>h2 {
        font-size: 2rem;
        margin: 0;
    }
}